:root{
    background-color: rgb(29,26,26);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 5.4rem;
    color:aquamarine;
    margin-bottom: 5rem;
}
h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}